body {
    font-family: Monaco, 'Andale Mono', 'Courier New', monospace;
    font-size: 12px;
    width: 450px;
    margin: 0 auto;
    background: #f5f5f5;
    color: #333;
}

a,
a:visited {
    color: DodgerBlue;
}

a:hover {
    color: DeepSkyBlue;
}

h1 {
    font-size: 32px;
    color: gray;
    text-shadow: 1px 1px 1px #ccc;
}

h1:before,
h1:after {
    content: " @@ ";
}

h2 {
    font-size: 24px;
    color: red;
    text-shadow: 1px 1px 1px #ccc;
}

h2:before {
    content: "--- ";
}

h2:nth-of-type(even) {
    color: green;
}

h2:nth-of-type(even):before {
    content: "+++ ";
}

h3 {
    margin-top: -1.5em;
    font-size: 16px;
    text-shadow: 0px 1px 1px #ccc;
    text-align: left;
}
h3:before {
    content: "--- ";
    font-size: 24px;
    color: lightgray;
}
h3:nth-of-type(even):before {
    content: "+++ ";
}


.unified {
    color: red;
}

.diff {
    color: green;
}

dt {
    clear: both;
    float: left;
    font-weight: bold;
}

dd {
    margin-left: 5em;
}
