
            <div class="row">
                <div class="span12">
                    <section id="get-involved">
                        <h2>get involved</h2>
                        <p> If you'd like to give a tech talk, or have something you'd
                            like to share at a future event, we'd love to hear from you.
                            Contact us via Twitter - <a href="http://twitter.com/unifieddiff">@unifieddiff</a> </p>
                    </section>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/attendn/js/attendn.js"></script>
    </body>
</html>
