<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>unified.diff</title>
        <meta name="description" content="Monthly Cardiff-based tech meetup. We hold tech talks, and trade war stories." />

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/main.css" type="text/css" />

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.7/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
    </head>

    <body ng-app="unifiedDiffApp">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="social">
                        <div class="twitter"><a href="https://twitter.com/unifieddiff">@UnifiedDiff</a></div>
                        <div class="irc">chat.freenode.net - #udiff</div>
                        <div class="mailing"><a href="http://lists.unifieddiff.co.uk">Mailing List</a></div>
                    </div>
                    <h1><span class="unified">unified</span>.<span class="diff">diff</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <section id="intro">
                        <p>For too long, Cardiff's software development community has been
                        fragmented by language, discipline, and platform.</p>

                        <p><span class="unified">unified</span>.<span class="diff">diff</span> is a
                        monthly meet-up for anybody involved or interested in the field of software
                        development.</p>

                        <p>We hold tech talks, and trade war stories.</p>
                    </section>
                </div>
            </div>

            {{ content }}

            <div class="row">
                <div class="span12">
                    <section id="get-involved">
                        <h2>get involved</h2>
                        <p> If you'd like to give a tech talk, or have something you'd
                            like to share at a future event, we'd love to hear from you.
                            Contact us via Twitter - <a href="http://twitter.com/unifieddiff">@unifieddiff</a> </p>
                    </section>
                </div>
            </div>
        </div>

    </body>
</html>
